
<div class='maincenter'>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>
                            > BlankSparrow
                    </h1>
                    <hr/>
                    <div class="col">
                            <a href="/"><p class="lead">Back To Main Menu</p></a>
                            <div style="margin:0px; padding:0px;" class="col-6">
                                    <hr/>
                                    </div>
                            <h5>A Little About Me</h5>
                               
                            
                        <div style="margin:0px; padding:0px;" class="col-6">
                            <hr/>
                            </div>
                            <p class="lead">Hey there, you!</p>
                            <a href='https://ko-fi.com/A2112S9F'><p class="lead">I like coffee, coffee helps me function.</p></a>
                            <a href='https://twitter.com/blanksparrow'><p class="lead">I'm on twitter, you should follow me on twitter.</p></a>
                            <br/>
                            <p class="lead">//TODO: Write stuff about me.</p>
                            <p class="lead">//TODO: Make it sound like I wear <i>_a_</i> cool watch<s>es</s>>.</p>
                            <p class="lead">//TODO: Buy watch<s>es</s>.</p>
                            <p class="lead">//<s>TODO: Correct the use of plural watches to be singular cause wearing more than one watch would be silly</s>.</p>
                            <p class="lead">//<s>TODO: Write heartfelt message to create a strong emotional response of wonder and awe that results in both media engagement and finacial support</s>.</p>

                            <div style="margin:0px; padding:0px;" class="col-6">
                                    <hr/>
                        <a href="/"><p class="lead">Back To Main Menu</p></a>
                        
                         
                    </div>
                    
                </div>
            </div>
        </div>
    </div>