<!-- views/partials/footer.ejs -->

<div class="footer">
  <!--p id="helvetica">@BlankSparrow</p>
  <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </nav-->
</div>