
<div class='maincenter'>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>
                            BlankSparrow
                    </h1>
                    <hr/>
                    <div class="col">
                            <a href="about"><p class="lead">A Little About Me</p></a>
                        <a href='https://ko-fi.com/A2112S9F'><p class="lead">Support Me With a Coffees</p></a>
                        <a href="tutorials"><p class="lead">How To Do Things</p></a>
                        
                        <a href="portfolio"><p class="lead">Things I've Done</p></a>
                        
                        <div style="margin:0px; padding:0px;" class="col-6">
                            <hr/>
                            </div>
                            <a href="https://newworldpunk.deviantart.com/"><p class="lead">DeviantArt</p></a>
                            <a href="https://github.com/BlankSparrow"><p class="lead">Github</p></a>
                            <a href="https://blanksparrow.itch.io/"><p class="lead">Itch.io</p></a>
                            <a href="https://www.linkedin.com/in/blanksparrow/"><p class="lead">LinkedIn</p></a>
                            <a href="http://steamcommunity.com/id/blanksparrow"><p class="lead">Steam</p></a>
                            <a href="https://twitter.com/blanksparrow"><p class="lead">Twitter</p></a>
                            <a href="http://blog.blanksparrow.com/"><p class="lead">Tumblr</p></a>
                            
                            <div style="margin:0px; padding:0px;" class="col-6">
                                    <hr/>
                        <a class="twitter-share-button"
                        href="https://twitter.com/intent/tweet?text=Hello%20world">
                        <p class="lead">Share To Twitter</p></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>