<a href="../tutorials"><p class="lead">Back To How To Do Things</p></a>
<a href="../"><p class="lead">Back To The Main Menu</p></a>
<div style="margin:0px; padding:0px;" class="col-5"><hr/></div>
    <h5>Glitch Me Baby!</h5>
    <h5>Pretty Hex Examples</h5>
    <div style="margin:0px; padding:0px;" class="col-5"><hr/></div>
    

    <p>.</p>
    <p>.</p>
                            
                                
    <div style="margin:0px; padding:0px;" class="col-5"><hr/></div>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world"><p class="lead">Share To Twitter</p></a>
    <a href='https://ko-fi.com/A2112S9F'><p class="lead">Support Me With Coffees</p></a>
    
    <div style="margin:0px; padding:0px;" class="col-5"><hr/></div>
<a href="../tutorials"><p class="lead">Back To How To Do Things</p></a>
<a href="../"><p class="lead">Back To The Main Menu</p></a>
