<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <br/>
    <img class="portfolioImg" src="monster.jpg" width="280" height="280" alt="Knitted monster" />
<div class="imgDetails">
    <h2>Image title</h2>
    <p>This is the image caption. It is aligned to the bottom of its containing element.</p>
</div>
   </br> 
</body>
</html>