<!doctype html>
<html lang="en">
        <head>
                <% include ../partials/head %>
                <% include ../partials/twitter_generic %>
                  </head>
  <body>
    <% include ../partials/header %>
    <% include ../partials/about_main %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/footer_scripts %>
     </body>
</html>