<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="main">
    <main class="center">
        <div class="top-wrapper">
            <div class="circle bottom-right yellow">
            </div>
            <div class="circle bottom-left magenta">
            </div>
        </div>
        <div class="bottom-wrapper">
            <div class="circle top-right cyan">
            </div>
            <div class="circle top-left key">
            </div>
        </div>
    </main>
    <!-- http://vanseodesign.com/css/clipping-and-masking-examples/ -->
    <script type='text/javascript' src='/js/main.js'></script>
</body>
</html>