<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    
    <div class="center circle-mask">
        <div class="page-fill">
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
            <h1>So many talks and things</h1>
        </div>
    </div>
    <!-- http://vanseodesign.com/css/clipping-and-masking-examples/ -->
    <script type='text/javascript' src='/js/main.js'></script>
</body>
</html>