<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="main">
    <main class="center">
        <div class="top-wrapper">
            <div class="circle bottom-right-align"></div>
            <div class="circle bottom-left-align"></div>
        </div>
        <div class="bottom-wrapper">
            <div class="circle top-right-align"></div>
            <div class="circle top-left-align"></div>
        </div>
    </main>

    <% include ../partials/footer %>

    <!-- http://vanseodesign.com/css/clipping-and-masking-examples/ -->
    <script type='text/javascript' src='/js/main.js'></script>
</body>
</html>