<!doctype html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <% include ../partials/portfolio_main %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/footer_scripts %>
     </body>
</html>