html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
}
body {
    margin: 0;
}

div.maincenter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center }
div.maincenter p {
    margin: 0 }

    