html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;

    background: #fff;
}
body {
  display: flex;
  align-items: center;
  justify-content: center
}

.footer{
    color: #606060;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 0;
}
