html, body {
    backface-visibility: hidden;
    
}
body {
    margin: 0;
    left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.maincenter {
    height: 100%;
    justify-content: center;
}

div.maincenter p {
    margin: 0 }

    