.center {
  display: flex;
    background: #EEEEEE;
    justify-content: center;
    width: unset;
    height: unset;
    transform: rotate(20deg);
}

.center-active{
    transform: rotate(0deg);
    width: 100%;
    height: 100%;
}

.top-wrapper {
  display: inline-block;
    align-items: flex-end;
}

.bottom-wrapper {
  display: inline-block;
  align-items: flex-start;
}

.wrapper-active{
  }

.wrapper-hidden{
}

.top-left, .bottom-left{
    justify-content: flex-end;
}

.top-right, .bottom-right{
justify-content: flex-start;
}

.circle {
    min-width: 200px;
    min-height: 200px;
    margin: 1px;
    padding: 0%;
    border-radius: 50%;
}

.circle:hover{
  min-width: 240px;
  min-height: 240px;
}

.circle-active{
    visibility: visible;
}

.circle-hidden{
  visibility: hidden;
}

