.circle {
    background: #ff0;
    width: 200px;
    height: 200px;
    -webkit-transition: all 800ms cubic-bezier(.13,.01,0.1,1.1);
    transition:         all 800ms cubic-bezier(.13,.01,0.1,1.1);
    margin: 2px;
    padding: 0%;
    display: inline-flex;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    backface-visibility: hidden;
}

.circle:hover {
    background: #f00;
    width: 250px;
    height: 250px;
    -webkit-transition: all 300ms cubic-bezier(.13,.01,0.1,1.1);
    transition:         all 300ms cubic-bezier(.13,.01,0.1,1.1);
    backface-visibility: hidden;
}

.circle:active {
    -webkit-transition: all 100ms cubic-bezier(.13,.01,0.1,1.1);
    transition:         all 100ms cubic-bezier(.13,.01,0.1,1.1);
}

.circle-active{
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 10;
    -webkit-transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition:         all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.circle-mask{
    -webkit-transition: all 300ms cubic-bezier(.13,.01,0.1,1.1);
    transition:         all 300ms cubic-bezier(.13,.01,0.1,1.1);
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
}

.circle-hidden{
    width: 0%;
    height: 100%;
    z-index: 0;
    visibility: hidden;
    -webkit-transition: all 100ms cubic-bezier(.13,.01,0.1,1.1);
    transition:         all 100ms cubic-bezier(.13,.01,0.1,1.1);
}

.circle-active:hover{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
